.container{
    padding :10px;
    /* background-color:red; */
    max-width:500px;
    margin:50px auto;
  }

  .btn{
    border: none;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor:pointer;
  }

  .btn-add{
    background-color: #4CAF50;
    color:white;
    cursor:pointer;
  }

  .addContainer{
    position:absolute;
    background-color: rgba(0,0,0,0.1);
    left:0;
    right:0;
    top:0;
    bottom:0;
    top:0;
    display: flex;
    justify-content:center;
    align-items:center;
  }

  .addContainer form{
    width: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    box-shadow:5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  .addContainer form input{
    font-size: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .addContainer form button{
    background-color: #376a61;
    color:white;
    font-weight:550;
    margin-top: 20px;
  }

  .addContainer form .close-btn{
    margin-left: auto;
    font-size: 18px;
    width: 20px;
    height: 20px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border:1px solid #000;
    cursor:pointer;

  }

  .form-control {
    width: 100%; /* Ensure full width */
    padding: 12px; /* Increase padding for larger input fields */
    font-size: 16px; /* Increase font size */
    border-radius: 6px; /* Add slight rounding */
    border: 1px solid #ddd; /* Border for input */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    margin-bottom: 15px; /* Add space between fields */
  }
  
